<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Image</th>
            <th scope="col">Quantity</th>
            <th scope="col">Active</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @for(product of products; track product.id){
        <tr>
            <th scope="row">{{product.id}}</th>
            <td>{{product.name}}</td>
            <td><img width="100px" src={{product.image}} alt=""></td>
            <td>{{product.quantity}}</td>
            <td>{{product.active}}</td>
            <td>
                <button class="btn btn-warning mr-3" routerLink="/admin/edit/{{product.id}}">Edit</button>
                <button class="btn btn-danger" (click)="handleSubmit(product.id)">Delete</button>
            </td>
        </tr>
        }



    </tbody>
</table>